<%= form_tag(soy_beans_path(), {multipart: true}) do%>
  <%= file_field_tag 'file' %>
  <%= submit_tag("upload") %>
<% end %>



<table id="myTable">
  <tr class="header">
   
      <th>  <%= simple_form_for :search, url: soy_beans_path, method: "GET" do |f| %>
       <%  SoyBean.column_names.drop(1).take(36).each_with_index do |header, index|%>
      <%= f.input :"#{header}", required: false, label: header ,:collection => @all_soy.collect {|c| c.attributes.select { |key|  header.include?(key) }}.uniq.map {|x| x["#{header}"]} , prompt: "Select your category"%>
      <% end  %> 
      <%= f.submit %> 
      <% end %>
       
      </th> 
    </tr>
  
   <tr> <% @all_soy.each do |header|  %>
     <td><%=header.classification %></td> 
         <td><%=header.date %></td> 
         <td><%=header.plant_stand %></td> 
         <td><%=header.precip %></td> 
         <td><%=header.temp %></td> 
         <td><%=header.hail %></td> 
         <td><%=header.crop_hist %></td> 
         <td><%=header.area_damaged %></td> 
         <td><%=header.severity %></td> 
         <td><%=header.seed_tmt %></td> 
         <td><%=header.germination %></td> 
         <td><%=header.plant_growth %></td> 
         <td><%=header.leaves %></td> 
         <td><%=header.leafspots_halo %></td> 
         <td><%=header.leafspots_marg %></td> 
         <td><%=header.leafspot_size %></td> 
         <td><%=header.leaf_shread %></td> 
         <td><%=header.leaf_malf %></td> 
         <td><%=header.leaf_mild %></td> 
         <td><%=header.stem %></td> 
         <td><%=header.lodging %></td> 
         <td><%=header.stem_cankers %></td> 
         <td><%=header.canker_lesion %></td> 
         <td><%=header.fruiting_bodies %></td> 
         <td><%=header.external_decay %></td> 
         <td><%=header.mycelium %></td> 
         <td><%=header.int_discolor %></td> 
         <td><%=header.sclerotia %></td> 
         <td><%=header.fruit_pods %></td> 
         <td><%=header.fruit_spots %></td> 
         <td><%=header.seed %></td> 
         <td><%=header.mold_growth %></td> 
         <td><%=header.seed_discolor %></td> 
         <td><%=header.seed_size %></td> 
         <td><%=header.shriveling %></td> 
         <td><%=header.roots %></td> 
    </tr>
    <% end  %>
  

</table> 